<launch>
  <arg name="is_jetson" default="false" />
  <arg name="is_classic" default="false" />

  <node pkg="odml_data_processing" type="data_processing_node" name="data_processing_node" output="screen">
        <param name="rosbag_rate" type="double" value="0.5" />
  </node>
  
  <group unless="$(arg is_jetson)">
    <group if="$(arg is_classic)">
      <include file="$(find odml_visual_odometry)/launch/visual_odometry_classic.launch"/>
    </group>
    <group unless="$(arg is_classic)">
      <include file="$(find odml_visual_odometry)/launch/visual_odometry_superpoint.launch"/>
    </group>
  </group>


  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find odml_data_processing)/rviz/main.rviz" />

</launch>