<launch>
    <node pkg="odml_visual_odometry" type="visual_odometry_node" name="visual_odometry_node" output="screen">
        <param name="is_classic" type="bool" value="true" />
        <param name="detector_type" type="string" value="ORB" />
        <param name="descriptor_type" type="string" value="ORB" />
        <param name="matcher_type" type="string" value="BF" />
        <param name="selector_type" type="string" value="NN" />
    </node>
</launch>